#!/usr/bin/env xdg-open

[Desktop Entry]

Name=Nepali Custom Password Generator
Encoding=UTF-8
Exec="ncpg"
Icon=/usr/share/NepaliCustomPasswordGenerator/.Install/ncpg.ico
StartupNotify=false
Terminal=true
Categories=05-05-profile;05-password-attacks;
Type=Application
Keywords=Nepali;password;generator;custom;ncpg;hemant;h9;

